<div class="container">
  <h1>¿Que opino de Angular?</h1>
  <article>
    <p>
        Angular es un framework de desarrollo para JavaScript creado por Google. Es una herramienta muy potente y versátil que permite crear aplicaciones web de una forma muy sencilla y rápida.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat aliquam minima corporis modi doloremque cumque non quod magnam saepe sequi laborum, adipisci laudantium! Ipsa maiores explicabo minus aliquid, cumque harum!
    </p>
    <p>
        Angular es un framework de desarrollo para JavaScript creado por Google. Es una herramienta muy potente y versátil que permite crear aplicaciones web de una forma muy sencilla y rápida.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat aliquam minima corporis modi doloremque cumque non quod magnam saepe sequi laborum, adipisci laudantium! Ipsa maiores explicabo minus aliquid, cumque harum!
    </p>
</article>

@defer (on viewport) {
    <app-comments></app-comments>
} @placeholder {
    <p>Futuro comentarios</p>
} @loading {
    <p>Cargando comentarios...</p>
}

</div>